<div style = "background-color: red; color:white; text-transform:capitalize;">
<% flash.each do |alert, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
</div>

<h1>Welcome <%= @dog.name.capitalize %></h1>

<h3>We hope you have lots of fun playing, swimming, and other activities!</h3>
<h3>Start browsing hotels and make a reservation for some doggy fun!</h3><br>

<button><%= link_to "Browse Hotels", hotels_path %></button><br>

