<h1>Welcome <%= @dog.name %></h1>

<p>We hope you have lots of fun playing, swimming, along with a ton of other activities!</p>
<p>Click here to browse hotels and make a reservation for some old fashioned doggy fun!</p>
