<h2>Hotel 1</h2>
<p>Location: </p>
<p>Activities we offer: </p>
<%= link_to "Reserve your stay today", new_reservation_path %>


<h2>Hotel 2</h2>
<p>Location: </p>
<p>Activities we offer: </p>
<%= link_to "Reserve your stay today", new_reservation_path %>


<h2>Hotel 3</h2>
<p>Location: </p>
<p>Activities we offer: </p>
<%= link_to "Reserve your stay today", new_reservation_path %>
