<h1> Welcome to Doggy Airbnb</h1>

<p>If you are a new user please sign up via the signup button or the github signup here</p>
 <%= link_to "Sign Up", signup_path  %> <br>
 

  If you already created a profile, Log in here!
  <%= link_to "Log In", login_path  %><br>
  
  <%= link_to "Log In with Google", '/auth/google_oauth2' %>