<% if logged_in && current_user %>
 <div style= " display: inline"> 
  <button><%= link_to "Home", dog_path(@dog) %></button><br>
  <%= button_to "Logout", logout_path %> 
<%end%>

<br>

<h1>Reservations</h1>
<br>
<hr>

<%=yield%>



